In [1]:
from pathlib import Path
import glob
import os
import numpy as np
import pandas as pd
from tqdm import tqdm 
import torch
import open3d as o3d

Jupyter environment detected. Enabling Open3D WebVisualizer.
[Open3D INFO] WebRTC GUI backend enabled.
[Open3D INFO] WebRTCWindowSystem: HTTP handshake server disabled.

In [2]:
id_map_path = "C:/Users/aorhu/Masaüstü/ADLM/Bridge_eids_60520_87802.csv"

In [3]:
id_map = pd.read_csv(id_map_path)

In [4]:
id_map

        eid_60520  eid_87802
0         1000160    4160881
1         1000313    2111078
2         1000369    2967107
3         1000476    3272217
4         1000526    4189785
...           ...        ...
502406    6015720    3578675
502407    6017783    4177794
502408    6021070    1262361
502409    4240959    1002121
502410    4408246    4667021

[502411 rows x 2 columns]

In [5]:
basic_features_path = "C:/Users/aorhu/Masaüstü/ADLM/basic_features.csv"

In [6]:
basic_features = pd.read_csv(basic_features_path)

In [7]:
basic_features

            eid  21003-2.0  31-0.0  21001-2.0  21002-2.0  50-2.0
0       1000015        NaN       1        NaN        NaN     NaN
1       1000027        NaN       1        NaN        NaN     NaN
2       1000039        NaN       1        NaN        NaN     NaN
3       1000040        NaN       1        NaN        NaN     NaN
4       1000053        NaN       0        NaN        NaN     NaN
...         ...        ...     ...        ...        ...     ...
502406  6024083        NaN       0        NaN        NaN     NaN
502407  6024099        NaN       0        NaN        NaN     NaN
502408  6024106        NaN       0        NaN        NaN     NaN
502409  6024112        NaN       0        NaN        NaN     NaN
502410  6024120        NaN       1        NaN        NaN     NaN

[502411 rows x 6 columns]

In [9]:
height = basic_features["50-2.0"].mean()

In [10]:
weight = basic_features["21002-2.0"].mean()

In [12]:
bmi = basic_features["21001-2.0"].mean()

In [19]:
basic_features = basic_features.dropna()
basic_features = basic_features.reset_index(drop=True)

In [20]:
basic_features

           eid  21003-2.0  31-0.0  21001-2.0  21002-2.0  50-2.0
0      1000071       69.0       0    30.8012       74.0   155.0
1      1000109       75.0       0    26.5036       68.7   161.0
2      1000125       65.0       1    23.6488       61.3   161.0
3      1000180       58.0       1    32.6204       99.9   175.0
4      1000191       72.0       1    24.6337       83.4   184.0
...        ...        ...     ...        ...        ...     ...
52355  6023367       58.0       1    35.2653      118.1   183.0
52356  6023419       66.0       1    23.9048       69.9   171.0
52357  6023708       56.0       0    21.5288       57.2   163.0
52358  6023786       57.0       0    22.7595       56.1   157.0
52359  6023955       74.0       1    31.4815      102.0   180.0

[52360 rows x 6 columns]

In [104]:
size = 488

In [105]:
heights = (basic_features['50-2.0'] - height).abs().argsort()[:size]

In [106]:
bmis= (basic_features['21001-2.0'] - bmi).abs().argsort()[:size]

In [107]:
weights = (basic_features['21002-2.0'] - weight).abs().argsort()[:size]

In [108]:
common_elements = list(set(bmis).intersection(set(heights), set(weights)))

In [109]:
common_elements # optimal patient target index, id is = "4266049"

[34087]

In [142]:
basic_features['eid'][34087]

4266049

In [110]:
basic_features['50-2.0'][34087]

169.0

In [113]:
height

169.0522269051145

In [111]:
basic_features['21001-2.0'][34087]

26.6797

In [115]:
bmi

26.63055566271964

In [112]:
basic_features['21002-2.0'][34087]

76.2

In [117]:
weight

76.36019903807768

### female-male split

In [118]:
females = basic_features[basic_features["31-0.0"] == 0 ]

In [120]:
males = basic_features[basic_features["31-0.0"] == 1 ]

In [127]:
height_female = females["50-2.0"].mean()
height_male = males["50-2.0"].mean()
weight_female = females["21002-2.0"].mean()
weight_male = males["21002-2.0"].mean()
bmi_female = females["21001-2.0"].mean()
bmi_male = males["21001-2.0"].mean()
print("height_female=" + str(height_female) + "/height_male=" + str(height_male))
print("weight_female=" + str(weight_female) + "/weight_male=" + str(weight_male))
print("bmi_female=" + str(bmi_female) + "/bmi_male=" + str(bmi_male))

height_female=162.6057153433278/height_male=175.92251331623592
weight_female=69.2725689431797/weight_male=83.90606036693629
bmi_female=26.201236635202665/bmi_male=27.088162825014795

In [138]:
size = 300
heights_female = (females['50-2.0'] - height_female).abs().argsort()[:size]
bmis_female= (females['21001-2.0'] - bmi_female).abs().argsort()[:size]
weights_female = (females['21002-2.0'] - weight_female).abs().argsort()[:size]

heights_male = (males['50-2.0'] - height_male).abs().argsort()[:size]
bmis_male= (males['21001-2.0'] - bmi_male).abs().argsort()[:size]
weights_male = (males['21002-2.0'] - weight_male).abs().argsort()[:size]

C:\Users\aorhu\AppData\Local\Temp\ipykernel_31980\1616190597.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  heights_female = (females['50-2.0'] - height_female).abs().argsort()[:size]
C:\Users\aorhu\AppData\Local\Temp\ipykernel_31980\1616190597.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  bmis_female= (females['21001-2.0'] - bmi_female).abs().argsort()[:size]
C:\Users\aorhu\AppData\Local\Temp\ipykernel_31980\1616190597.py:4: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  weights_female = (females['21002-2.0'] - weight_female).abs().argsort()[:size]
C:\Users\aorhu\AppData\Local\Temp\ipykernel_31980\1616190597.py:6: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  heights_male = (males['50-2.0'] - height_male).abs().argsort()[:size]
C:\Users\aorhu\AppData\Local\Temp\ipykernel_31980\1616190597.py:7: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  bmis_male= (males['21001-2.0'] - bmi_male).abs().argsort()[:size]
C:\Users\aorhu\AppData\Local\Temp\ipykernel_31980\1616190597.py:8: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  weights_male = (males['21002-2.0'] - weight_male).abs().argsort()[:size]

In [139]:
common_elements_male = list(set(bmis_male).intersection(set(heights_male), set(weights_male)))
common_elements_female = list(set(bmis_female).intersection(set(heights_female), set(weights_female)))

In [140]:
common_elements_male #optimal male target index, id is = "2526518"

[15852, 16278]

In [141]:
common_elements_female #optimal female target index, id is = "3368474"

[24667]

In [143]:
basic_features['eid'][15852]

2526518

In [144]:
basic_features['eid'][24667]

3368474